Electron/
dconf/
discord/
evolution/
glib-2.0/
gnome-session/
goa-1.0/
gtk-3.0/
ibus/
nautilus/
pulse/
update-notifier/
gnome-initial-setup-done
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
nvim/plugin/*
.DS_Store
